$primaryGrey: #BFCCD6; /* Tabstrip conntainer / Graph bars / Widget border */
$primaryBlue: #48aff0;
$primaryGreen: #3DCC91; // #2EE6D6
$primaryRed: #eb532d;
$primaryOrange: #df6d21;
$primaryViolet: #C274C2;
$secondaryGrey: #F5F8FA; // widget header  / graph background
$secondaryGreen: #62D96B; //#53be9c";
$primaryBlack: #202B33; // main menu;
$titleGrey: #5C7080;