<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
 <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

 <style>
 body{
   margin:0px;
   padding:0px;
 }
 </style>
  </head>
  <body>

    <div id="root"></div>
    <!-- Main -->
  </body>
</html>